body {
    font-family: Arial, sans-serif;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.products-list {
    flex: 2;
    margin-right: 20px;
}

.product-item-horizontal {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.product-image {
    flex: 0 0 100px;
    margin-right: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-quantity {
    margin-bottom: 10px;
}

.product-quantity input {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
}

.product-frame,
.product-frame-color,
.product-size,
.product-price {
    margin-bottom: 10px;
}

.product-price del {
    color: red;
    margin-right: 10px;
    font-size: 18px;

}

.product-price span {
    color: green;
    font-weight: bold;
    font-size: 22px;
}

.product-price .total-price-without-discount {
    font-size: 0.9em;
    color: #666; /* Colore per il prezzo senza sconto */
}

.price-label {
    color: #000; /* Cambia il colore del testo a nero */
}

form {
    margin-top: 10px;
}

.cart-summary {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 300px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.cart-summary h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.summary-item,
.summary-discount,
.summary-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1em;
}

.summary-total {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}

.btn,
.btn-checkout {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover,
.btn-checkout:hover {
    background-color: #0056b3;
}

p {
    color: red;
}

.icon-button {
    padding: 5px;
    width: 30px; /* Larghezza del pulsante */
    height: 30px; /* Altezza del pulsante */
    background: none;
    border: none;
    cursor: pointer;
    position: relative; /* Posizione relativa per l'animazione */
    overflow: hidden; /* Nasconde gli elementi fuoriusciti dal pulsante */
}

.icon-button img {
    transition: transform 0.3s ease;
    width: 100%; /* L'immagine occupa tutta la larghezza del pulsante */
    height: auto; /* Altezza automatica per mantenere il rapporto */
}

.payment-modes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    justify-content: space-around;
}

.payment-accepted {
    border-top: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.payment-accepted p {
    text-align: center; /* Allinea il testo al centro */
    color: #333; /* Imposta il colore del testo a un grigio scuro */
    font-size: 16px; /* Imposta la dimensione del carattere a 16px */
    margin-top: 15px;
    margin-bottom: 15px; /* Aggiunge un margine inferiore di 10px */
}

.payment-modes img {
    width: 50px; /* Imposta la larghezza dell'immagine */
    height: auto; /* Mantiene il rapporto di aspetto dell'immagine */
    border: 1px solid #ddd;
    padding-left: 4px; /* Aggiunge padding intorno all'immagine */
    padding-right: 4px;
    border-radius: 5px;
}


