/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto; /* Centra il contenuto principale */
    margin-top: 30px;
}

h2 {
    color: #0056b3;
    text-align: center;
    margin-bottom: 20px;
}

/* Product Container */
.products-container {
    display: grid;
    grid-template-columns: 50vh 50vh 50vh;
    flex-wrap: wrap;
    column-count: 3;
    justify-content: center; /* Centra i prodotti nel contenitore */
    row-gap: 10vh; /*Spazio tra le righe*/
    column-gap: 20px; /*Spazio tra le colonne*/
}

/* Badge for discount */
.discount-badge {
    position: absolute;
    top: 10px; /* Sposta il badge in alto */
    left: 10px; /* Sposta il badge a sinistra */
    background-color: red; /* Colore di sfondo del badge */
    color: white; /* Colore del testo del badge */
    padding: 5px 10px; /* Padding interno del badge */
    border-radius: 5px; /* Arrotonda gli angoli del badge */
    font-size: 14px; /* Dimensione del testo del badge */
    font-weight: bold; /* Grassetto per il testo del badge */
    z-index: 1; /* Assicura che il badge si sovrapponga all'immagine */
}

.product {
    position: relative;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    place-items: center;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Aggiungi l'ombra nera alle immagini */
}

.product-image {
    height: 45vh;
    width: auto;
    display: block;
    margin: auto; /* Centra l'immagine all'interno del contenitore */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi l'ombra nera alle immagini */
    transition: box-shadow 0.3s ease;
}

.product a:hover img {
    box-shadow: 0 4px 8px rgb(158, 158, 158); /* Applica l'ombra solo all'immagine all'interno dell'ancora */
}

.price-p {
    padding: 10px;
}

.product h2 {
    height: 70px;
    margin: 0;
    padding: 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    text-align: center;
}

.product p {
    padding: 0 15px 15px;
    font-size: 22px;
    text-align: center;
}

.original-price {
    color: #ff0000; /* Cambia il colore del testo */
    font-size: 18px; /* Riduci la dimensione del testo se necessario */
    text-decoration: line-through; /* Assicurati che il prezzo originale sia barrato */
}

.discounted-price {
    color: #008000; /* Imposta il colore del testo per il prezzo scontato a verde */
}

.price-label {
    color: #490808; /* Cambia il colore del testo a blu */
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none; /* Rimuove l'effetto sottolineato */
    color: #0056b3; /* Sostituisci con il colore desiderato */
}

.favorite-form {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    height: 40px;
    justify-content: flex-end; /* Allinea l'immagine del cuore alla fine del contenitore */
    align-items: center;
    margin: 1px;
}

/* Stile base per l'icona del cuore */
.favorite-icon {
    width: 32px; /* Dimensioni dell'icona del cuore */
    height: auto;
    cursor: pointer; /* Cambia il cursore al passaggio sopra */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Effetto di zoom e dissolvenza al passaggio del mouse */
.favorite-icon:hover {
    transform: scale(1.2); /* Effetto di zoom */
}

/* Stile quando l'utente ha aggiunto il prodotto ai preferiti */
.favorite-icon.added {
    opacity: 0; /* Opacità a 0 per dissolvere l'icona */
    transition: none; /* Rimuove la transizione quando l'icona scompare */
    transform: scale(0.8); /* Effetto di riduzione prima della dissolvenza */
}

/* Stile quando l'utente ha rimosso il prodotto dai preferiti */
.favorite-icon.removed {
    opacity: 0; /* Opacità a 0 per dissolvere l'icona */
    transition: none; /* Rimuove la transizione quando l'icona scompare */
    transform: scale(0.8); /* Effetto di riduzione prima della dissolvenza */
}

/* Price styling */
.product p:last-child {
    color: #050505;
    font-weight: bold;
    padding: 0 15px 0; /* Imposta il padding solo per i lati sinistro e destro */
}

@media (max-width: 480px) {
    .profile-container, .profile-row, .profile-cell, .click-containers-secondary button {
        padding: 5px;
        font-size: 12px;
    }
    button {
        padding: 8px;
        font-size: 14px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .profile-container, .profile-row, .profile-cell, .click-containers-secondary button {
        padding: 10px;
        font-size: 14px;
    }
    button {
        padding: 10px;
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .profile-container, .profile-row, .profile-cell, .click-containers-secondary button {
        padding: 15px;
        font-size: 16px;
    }
    button {
        padding: 12px;
        font-size: 18px;
    }
}

@media (min-width: 1025px) {
    .profile-container {
        padding: 20px;
        max-width: 800px;
        margin: auto;
    }
    .profile-row, .profile-cell, .click-containers-secondary button {
        padding: 20px;
        font-size: 18px;
    }
    button {
        padding: 14px;
        font-size: 20px;
    }
}