/* Stile di base per il corpo della pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #000000;
}

/* Stile per il titolo */
h2 {
    color: #000000;
    margin: 10px 0;
    text-align: center; /* Centra il testo del titolo */
}

/* Contenitore per l'immagine del prodotto */
.product-image {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

/* Contenitore per il titolo e la categoria del prodotto */
.product-header {
    width: 100%;
}

/* Contenitore per il contenuto del prodotto */
.product-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Stile per l'immagine del prodotto */
.product-image img {
    max-width: 350px; /* Aumenta la larghezza massima dell'immagine */
    width: 100%;     /* Mantiene l'immagine responsive */
    height: auto;    /* Mantiene l'altezza proporzionale alla nuova larghezza */
    border-radius: 10px;
    margin-left: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Contenitore per le informazioni del prodotto */
.product-info {
    flex: 2;
    font-size: 25px; /* Dimensione base del font */
    max-width: 500px;
    margin-right: 150px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.product-details {
    align-self: flex-start; /* Allinea i dettagli del prodotto a sinistra */
    text-align: left; /* Assicura che il testo all'interno sia allineato a sinistra */
    margin-top: 50px; /* Rimuovi il margine superiore se precedentemente impostato */
    margin-left: -50px;
    font-size: 30px;
    width: 90%; /* Sostituisci con la larghezza che corrisponde al numero di caratteri `n` che desideri */
    word-wrap: break-word;
}

.discount-percentage {
    font-size: 25px;
    color: red; /* Colore rosso per il testo del prezzo scontato */
}

.discounted-price {
    font-size: 30px; /* Dimensione del font per il prezzo scontato */
    color: green; /* Colore verde per il prezzo scontato */
}

.original-price {
    text-decoration: line-through; /* Barrato per il prezzo originale */
    font-size: 20px; /* Dimensione del font per il prezzo originale */
    color: grey; /* Colore grigio per il prezzo originale */
}

.add-to-cart-button, .delete-button, .modify-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-to-cart-button {
    background-color: #28a745; /* Verde per aggiungere al carrello */
}

.delete-button {
    background-color: #dc3545; /* Rosso per eliminare */
    margin-right: 10px;
    margin-bottom: 10px;
}

.modify-button {
    background-color: #007bff; /* Blu per modificare */
    margin-right: 10px;
    margin-bottom: 10px;
}

.unavailable-product {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.admin-message {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
