/* Global Styles */
body {
      font-family: 'Roboto', sans-serif;
      background-color: #f9f9f9;
      color: #333;
      line-height: 1.6;
      margin: 0;
      padding: 0;
}

/* Contenitore dell'header principale */
.header-container {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: white;
      padding: 0 20px;
      border-bottom: 1px solid #ccc;
      position: relative;
      z-index: 2; /* Assicurarsi che l'header sia sopra la barra di navigazione */
}

/* Contenitore del logo */
.logo-link {
      display: flex;
      align-items: center;
}

/* Logo */
.logo-img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
}

/* Barra di ricerca */
.search-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      margin-bottom: 10px; /* Aggiungi margine inferiore */
}

/* Form di ricerca */
.search-container form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 300px;
      margin: 0 auto; /* Centrato all'interno del genitore */
}

.search-container input[type="search"] {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: 20px 0 0 20px;
      outline: none;
      font-size: 16px;
}

/* Pulsante della barra di ricerca */
.search-container button {
      width: 35px;
      height: 40px;
      border: none;
      background: #4b6cb7;
      border-radius: 0 30px 30px 0;
      cursor: pointer;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
}

/* Hover del pulsante della barra di ricerca */
.search-container button:hover {
      background: #365492;
}

/* Contenitore dei bottoni */
.src-img {
      width: 20px;
      height: 20px;
}

.button-container {
      display: flex;
      align-items: center;
}

/* Bottone del carrello, login, info */
.footer-button, .cart-button, .login-button {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      transition: transform 0.3s;
}

/* Hover del bottone del carrello, login, info */
.footer-button:hover, .cart-button:hover, .login-button:hover {
      transform: scale(1.1);
}

/* Rimuovi il primo margine a sinistra del bottone di login */
.button-container a:first-child img {
      margin-left: 15px;
}

/* Rimuovi l'ultimo margine a destra del bottone di login */
.button-container a:last-child img {
      margin-right: 0;
}

/* Contenitore dell'header sottostante all'header principale */
.sub-header-container {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #4b6cb7;
      padding: 0 20px;
      border-bottom: 1px solid #365492;
      margin-top: -1px; /* Assicura che non ci sia spazio tra gli header */
      margin-bottom: 15px;
      position: relative;
      z-index: 1;
}

.profile-box {
      background-image: linear-gradient(to right, #7DCFB6, #E0F7FA); /* Verde acqua scuro a azzurro molto chiaro */
}

.order-box {
      background-image: linear-gradient(to right, #4A90E2, #B3E5FC); /* Blu vivace a azzurro chiaro */
}

.favorites-box {
      background-image: linear-gradient(to right, #E57373, #FFCDD2); /* Rosa scuro a rosa chiaro */
}

.card-box {
      background-image: linear-gradient(to right, #BA68C8, #E1BEE7); /* Viola chiaro a viola molto chiaro */
}

.info-box {
      background-image: linear-gradient(to right, #7986CB, #C5CAE9); /* Blu grigio scuro a blu grigio chiaro */
}

.address-box {
      background-image: linear-gradient(to right, #FFB74D, #FFE0B2); /* Arancione scuro a arancione chiaro */
}



.sub-header-container .nav-bar {
      display: flex;
      /*modifiche di biagio*/
      flex-direction: row-reverse;
      /**/
      justify-content: space-around;
      width: 100%;
      max-width: 1000px;
}

.sub-header-container a {
      color: white;
      text-decoration: none;
      margin-right: 30px;
}

.sub-header-container a:hover {
      text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
      .header-container, .sub-header-container {
            flex-direction: column;
            height: auto;
      }

      .search-container {
            order: 2;
            margin: 10px 0; /* Aggiungi margine superiore e inferiore per separazione */
      }

      .button-container {
            order: 3;
            margin: 10px 0;
      }

      .nav-bar {
            order: 4;
            flex-direction: column;
            align-items: center;
      }

      .nav-bar a {
            margin-right: 0;
            margin-bottom: 10px;
      }
}

@media (max-width: 480px) {
      .search-container form {
            max-width: 90%; /* Riduce la larghezza massima */
      }

      .search-container input[type="search"] {
            font-size: 14px;
      }

      .search-container button {
            width: 30px;
            height: 35px;
      }

      .footer-button, .cart-button, .login-button {
            width: 25px;
            height: 25px;
      }
}
