/* Sfondo della pagina */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4; /* Colore di sfondo leggero per l'intera pagina */
    color: #333; /* Colore del testo principale */
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: linear-gradient(135deg, #ffffff 0%, #f0f0f0 100%); /* Gradiente grigio chiaro */
    box-shadow: 0 10px 22px rgba(85, 81, 81, 0.1);
    transition: all 1s ease-in-out;
}
.site-name {
    font-size: 10vw; /* Dimensione font relativa alla larghezza della viewport */
    font-weight: 900;
    background: url('../Images/world.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    filter: blur(0);
    max-width: 90%; /* Limita la larghezza massima del titolo */
    overflow: hidden; /* Assicura che il testo non esca dai confini */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione se il testo è troppo lungo */
    white-space: nowrap; /* Mantiene il testo su una sola riga */
}
.site-name.small {
    position: absolute;
    font-size: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:
            3px 3px 3px rgba(0, 0, 0, 0.1),
            6px 6px 6px rgba(0, 0, 0, 0.1),
            9px 9px 9px rgba(0, 0, 0, 0.1);
}
.carousel-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    background-color: white;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.swiper-slide {
    flex: 0 0 auto;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}
.swiper-slide img:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.swiper-button-next,
.swiper-button-prev {
    display: none;
}
.swiper-pagination {
    display: none;
}
.discount-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 10px;
    color: darkred;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.content-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.content-section a {
    text-decoration: none;
}

/* Effetti specifici per il riquadro "About Us" */
.content-box.square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-box.square p {
    margin: 0;
    padding: 0;
}

.content-box.square p:first-child {
    font-size: 2em;
    font-weight: bold;
    color: #37474f;
    margin-bottom: 10px;
}

.content-box.square p.sub-text {
    font-size: 1em;
    color: #607d8b;
}

/* Effetti di hover per i riquadri */
.content-box {
    flex: 1;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    height: 400px;
    font-size: 25px;
    font-weight: bold;
    align-content: center;
    transition: all 0.3s ease-in-out;
}

.content-box:hover {
    background-color: #f9f9f9; /* Cambia il colore di sfondo al passaggio del mouse */
    border-color: #b0bec5; /* Bordo blu-grigio chiaro al passaggio del mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta l'ombra per dare l'effetto di sollevamento */
    transform: scale(1.02); /* Leggero ingrandimento del box */
}

.discount-box {
    padding: 20px;
    width: 100%;
    min-width: 300px;
    text-align: center;
    margin: 100px 0 0 0;
    background-color: #ffffff; /* Colore di sfondo chiaro e caldo per la sezione sconto */
    border: 2px solid #cfd8dc; /* Bordi colorati per enfatizzare la sezione */
    border-radius: 8px; /* Angoli arrotondati */
}
.slogan {
    font-size: 70px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}
.best-seller-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 100px 0 10px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Effetti di hover per il box del catalogo */
.catalog-box {
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: #ffffff; /* Colore di sfondo bianco */
    margin-top: 100px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 1px solid #e0e0e0; /* Bordo grigio chiaro */
}

.catalog-box:hover {
    background-color: #f5f5f5; /* Colore di sfondo grigio più chiaro al passaggio del mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.catalog-box p {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #37474f; /* Colore verde scuro per il testo */
}

.catalog-img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    margin: 0 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.catalog-img:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Media Queries for Responsiveness */

/* Mobile Devices (up to 600px) */
@media (max-width: 600px) {
    .site-name {
        font-size: 3rem; /* Dimensione ridotta per dispositivi mobili */
        max-width: 95%; /* Aumenta la larghezza massima per schermi piccoli */
    }

    .site-name.small {
        font-size: 2rem; /* Dimensione del font per titoli su schermi piccoli */
        text-shadow:
                1px 1px 2px rgba(0, 0, 0, 0.2),
                2px 2px 4px rgba(0, 0, 0, 0.2); /* Ombra del testo più leggera */
    }

    .content-section {
        flex-direction: column;
        gap: 10px;
    }

    .content-box {
        padding: 20px;
        font-size: 18px;
        height: auto; /* Permette ai box di adattarsi automaticamente */
    }

    .catalog-img {
        width: 100%; /* Adatta le immagini del catalogo al contenitore */
        margin: 10px 0; /* Spazio verticale per le immagini del catalogo */
    }

    .discount-title, .best-seller-title {
        font-size: 2rem; /* Riduce la dimensione del font per titoli su schermi piccoli */
    }

    .swiper-slide {
        width: 80%; /* Aumenta la larghezza per una visualizzazione migliore sui dispositivi mobili */
        margin: 5px;
    }

    .slogan {
        font-size: 40px;
        padding: 10px;
    }

    .catalog-box {
        padding: 10px;
        margin-top: 50px;
    }
}

/* Tablets (600px to 768px) */
@media (min-width: 601px) and (max-width: 768px) {
    .site-name {
        font-size: 6rem; /* Dimensione media per tablet */
        max-width: 90%; /* Mantiene una larghezza massima appropriata per tablet */
    }

    .content-section {
        flex-direction: column;
        gap: 15px;
    }

    .content-box {
        padding: 30px;
        font-size: 20px;
        height: auto;
    }

    .catalog-img {
        width: 45%; /* Adatta le immagini del catalogo al contenitore */
    }

    .discount-title, .best-seller-title {
        font-size: 2.5rem; /* Dimensione del font per titoli su tablet */
    }

    .swiper-slide {
        width: 40%; /* Adatta le slide per una visualizzazione migliore sui tablet */
        margin: 10px;
    }

    .slogan {
        font-size: 50px;
        padding: 15px;
    }

    .catalog-box {
        padding: 15px;
        margin-top: 75px;
    }
}

/* Desktop Devices (above 768px) */
@media (min-width: 769px) {
    .swiper-slide {
        width: 25%; /* Dimensione normale per i desktop */
    }
}