.box {
    border: 2px solid black;    /* Aggiungi un bordo nero al box */
    padding: 20px;  /* Aggiungi del padding (spazio tra il contenuto del box e il suo bordo) al box */
    margin-top: 50px; /* Sposta il box più in basso sulla pagina di 50px rispetto alla sua posizione originale */
}

.box-discounts {
    height: 400px;  /* Imposta l'altezza del box a 300px */
    margin-left: 20px; /* Aggiunge uno spazio di 20 pixel a sinistra dell'elemento */
    margin-right: 20px; /* Aggiunge uno spazio di 20 pixel a destra dell'elemento */
    position: relative; /* Necessario per posizionare il video al suo interno */
}

.box-discounts video {
    width: 100%; /* Imposta la larghezza del video al 100% del box */
    height: 100%; /* Imposta l'altezza del video al 100% del box */
    object-fit: cover; /* Adatta il video all'interno del box, ritagliando se necessario */
    position: absolute; /* Posiziona il video assolutamente rispetto al box */
    top: 0;
    left: 0;
}

.box-container {
    display: flex; /* Posiziona i box sulla stessa riga */
    margin-top: 20px; /* Aggiungi uno spazio tra l'header e i box */
}

.box-new {
    height: 300px;  /* Imposta l'altezza del box a 300px */
    margin-left: 10px;
    margin-right: 20px;
    width: 65%;
}

.box-catalogue {
    height: 300px;  /* Imposta l'altezza del box a 300px */
    margin-left: 10px;
    margin-right: 20px;
    width: 35%;
}
