/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Table Styles */
.product-table {
    max-width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #f7f7f7;
}
/* Posizionamento dei link in alto a destra */
.top-right-links {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}



/* Product Image */
.product-image {
    width: 80px;
    height: auto;
    display: block;
    margin: auto;
}

/* Buttons and Links */
input[type="submit"], .centered-links a {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover, .centered-links a:hover {
    background-color: #003d7a;
}

/* Responsive Design */
@media (max-width: 768px) {
    /* Riduci la dimensione del testo per migliorare la leggibilità */
    body, input[type="submit"], .centered-links a {
        font-size: 14px;
    }

    /* Riduci la dimensione delle immagini dei prodotti */
    .product-image {
        width: 80px; /* Riduci la larghezza dell'immagine */
    }

    /* Riduci il padding e il margine per risparmiare spazio */
    .product-table th, .product-table td {
        padding: 4px;
    }

    .top-right-links {
        padding: 5px;
    }

    /* Aumenta lo spazio tra i link quando sono visualizzati come blocco */
    .centered-links a, .top-right-links a {
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    /* Per dispositivi molto piccoli, apporta ulteriori regolazioni */
    body, input[type="submit"], .centered-links a {
        font-size: 12px;
    }

    .product-table {
        max-width: 100%; /* Permetti alla tabella di espandersi fino al 100% della larghezza dello schermo */
    }

    .product-image {
        width: 60px; /* Riduci ulteriormente la larghezza dell'immagine */
    }

    .top-right-links, .centered-links {
        text-align: center; /* Centra i link per una migliore visualizzazione */
    }

    .top-right-links {
        position: static; /* Rimuovi il posizionamento assoluto per evitare problemi di sovrapposizione */
    }
}