/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
}

h2 {
    color: #0056b3;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

/* Main Container */
.main-container {
    display: flex;
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    position: relative;
    top: -80px;
    left: 0;
    height: 600px;
    width: 250px;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1000;
}

#filter-form fieldset {
    border: none;
    padding: 0;
}

#filter-form legend {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

#filter-form label {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
}

#filter-form input[type="radio"] {
    margin-right: 10px;
    padding: 30px;
}

#filter-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#filter-form input[type="submit"]:hover {
    background-color: #003d80;
}

/* Product Container */
.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Spazio tra i prodotti */
    margin-left: 40px; /* Larghezza della sidebar + padding */
    padding: 20px;
    width: calc(100% - 270px); /* Larghezza totale meno sidebar */
}

/* Badge for discount */
.discount-badge {
    position: absolute;
    top: 10px; /* Sposta il badge in alto */
    left: 10px; /* Sposta il badge a sinistra */
    background-color: red; /* Colore di sfondo del badge */
    color: white; /* Colore del testo del badge */
    padding: 5px 10px; /* Padding interno del badge */
    border-radius: 5px; /* Arrotonda gli angoli del badge */
    font-size: 14px; /* Dimensione del testo del badge */
    font-weight: bold; /* Grassetto per il testo del badge */
    z-index: 1; /* Assicura che il badge si sovrapponga all'immagine */
}

.product {
    position: relative;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    place-items: center;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Aggiungi l'ombra nera alle immagini */
}

.product-image {
    height: 45vh;
    width: auto;
    display: block;
    margin: auto; /* Centra l'immagine all'interno del contenitore */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi l'ombra alle immagini */
    transition: transform 0.3s ease-in-out; /* Aggiungi una transizione all'ombra */
}

/* Styled buttons */
button, .button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover {
    background-color: #003d80;
}

.product button {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    background-color: #0056b3;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
    cursor: pointer;
}

.product button:hover {
    background-color: #003d80;
}

.product h2 {
    height: 70px;
    margin: 0;
    padding: 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    text-align: center;
}

.product p {
    padding: 0 15px 15px;
    font-size: 22px;
    text-align: center;
}

.original-price {
    color: #ff0000;
    font-size: 18px;
    text-decoration: line-through;
}

.discounted-price {
    color: #008000;
}

.price-label {
    color: #490808;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #0056b3;
}

.favorite-form {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    margin: 1px;
}

.favorite-icon {
    width: 32px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.favorite-icon:hover {
    transform: scale(1.2);
}

.favorite-icon.added {
    opacity: 0;
    transition: none;
    transform: scale(0.8);
}

.favorite-icon.removed {
    opacity: 0;
    transition: none;
    transform: scale(0.8);
}

.product p:last-child {
    color: #050505;
    font-weight: bold;
    padding: 0 15px 0;
}

@media (max-width: 1024px) {
    .sidebar {
        width: 100%;
        position: static;
        height: auto;
    }
    .main-container {
        flex-direction: column;
    }
    .products-container {
        margin-left: 0;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Aggiunge un layout responsivo per schermi più piccoli */
    }
}
