/* Contenitore dei pulsanti in alto */
.top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.top-buttons .left-buttons {
    display: flex;
    align-items: center;
}

.top-buttons .right-buttons {
    display: flex;
    align-items: center;
}

.top-buttons a,
.top-buttons form {
    margin-right: 15px;
}

.top-buttons a {
    text-decoration: none;
    color: #007bff;
    background-color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.top-buttons a:hover {
    background-color: #007bff;
    color: #ffffff;
}

.top-buttons input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.top-buttons input[type="submit"]:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
