/* Reset dei margini e padding */
body, html {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Stili per la tabella degli ordini */
table {
    width: 80%; /* Riduci la larghezza della tabella */
    margin: 0 auto; /* Centra la tabella orizzontalmente */
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-edit {
    background-color: #0066cc;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.button-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

table th, table td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
}

.spazio{
    margin-bottom: 50px;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #e9ecef; /* Colore di sfondo al passaggio del mouse */
}

/* Stili per il messaggio di nessun ordine */
p {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #666;
}

/* Stili per l'intestazione */
h2 {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

/* Adjustments for extra small screens */
@media (max-width: 480px) {
    body, html {
        font-size: 12px; /* Reduce base font size for extra small screens */
    }

    h2, p {
        font-size: 12px; /* Adjust heading and paragraph font sizes for better readability */
    }

    table th, table td {
        padding: 5px; /* Reduce padding to fit content on smaller screens */
        font-size: 12px; /* Reduce font size for table content */
    }
}

/* Existing media query for small screens (up to 768px) handles adjustments */

/* Adjustments for medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
    body, html {
        font-size: 14px; /* Adjust base font size for medium screens */
    }

    h2, p {
        font-size: 14px; /* Adjust heading and paragraph font sizes for medium screens */
    }

    table th, table td {
        padding: 10px; /* Adjust padding for medium screens */
        font-size: 14px; /* Adjust font size for table content */
    }
}

/* Adjustments for large screens */
@media (min-width: 1025px) {
    /* No specific adjustments needed for large screens as the layout should already be optimized for desktop viewing */
    /* Consider increasing font sizes or adjusting table dimensions if necessary for better readability and aesthetics */
}